<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        .box {
            background-color:brown;
            height: 200px;
            width: 200px;
        }
        .box2 {
            background-color:green;
            height: 200px;
            width: 200px;
        }
        [v-cloak] {
            display: none;
        }
        input{
            margin: 10px;
            display: block;
        }

    </style>
</head>
<body>
    <div id="app" v-cloak>
        {{greeting}}
        <input v-model="greeting" />
        <hr />
        <button v-on:click="toggleBox">Toggle Box</button>
        <div v-if="isVisible" class="box"></div> 
       
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app =   Vue.createApp ({
        data: function () {
            return {
                greeting: 'vinay here',
                isVisible: false
            }
        },
        methods: {
            toggleBox() {
                this.isVisible= !this.isVisible
            }
        }
        })
        app.mount('#app')
    </script>
</body>
</html>