<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        .box {
            background-color:brown;
            height: 200px;
            width: 200px;
        }
        .box2 {
            background-color:green;
            height: 200px;
            width: 200px;
        }
        [v-cloak] {
            display: none;
        }
        input{
            margin: 10px;
            display: block;
        }

    </style>
</head>
<body>
    <div id="app" v-cloak>
        <login-form />
        <hr />
        <button v-on:click="toggleBox">Toggle Box</button>
        <div v-if="isVisible" class="box"></div> 
        <div> The number of employees in a company X are: {{ numEmployees }}</div>
        <div> Referencing numEmployees again: {{ numEmployees }} </div>
        <p v-for=" employees in employeeList"> will show the name of each employees in the list : {{ eployee }} </p>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app =   Vue.createApp ({
        data: {
            employees: ['Jayson', 'Alex', 'Cecilia', 'John', 'Ali'],
            employeesList: [
                    'Alex Han', 
                    'Ali Usman', 
                    'Peter Parker', 
                    'John Lee', 
                    'Eva Holmes'
             ]
        },
        methods: {
            toggleBox() {
                this.isVisible= !this.isVisible
            },
            greet() {
                console.log(this.greeting);
            }
        },
        computed: {
             numEmployees: function () {
             console.log(" The value got computed ");
             return this.employees.length;
        }
        }
        })
        app.component('login-form',{
            template:`
                <form @submit.prevent='handleSubmit'>
                    <h1>{{title}}</h1>
                    <custom-input type='email' :label='passwordLabel' />
                    <custom-input type='password' v-bind:label="emailLabel"/>
                    <button> Log in</button>

                 </form>
            `,
            components: ['custom-input'],
            data() {
                return {
                    title: 'Login Form',
                    email: '',
                    password: '',
                    emailLabel: 'Email',
                    passwordLabel: 'Password'
                }
            },
            methods: {
                handleSubmit () {
                    console.log(this.email, this.password)
                }
            }
        })
        app.component('custom-input', {
            template: `
            <label>
                {{label}}
                <input type="text" v-model='inputValue'>
            </label>
            `,
            props: ['label'],
            data(){
                return {
                    inputValue: ""
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>